<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-3">
      <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 140px; height: 140px;">
      <h2>song title</h2>
      <p>artist</p>
    </div><!-- /.col-lg-3 -->
    <div class="col-lg-3">
      <img class="img-circle"
src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
alt="Generic placeholder image" style="width: 140px; height: 140px;">
      <h2>song title</h2>
      <p>artist</p>
    </div><!-- /.col-lg-3 -->
    <div class="col-lg-3">
      <img class="img-circle"
src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
alt="Generic placeholder image" style="width: 140px; height: 140px;">
      <h2>song title</h2>
      <p>artist</p>
    </div><!-- /.col-lg-3 -->
    <div class="col-lg-3">
      <img class="img-circle"
src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
alt="Generic placeholder image" style="width: 140px; height: 140px;">
      <h2>song title</h2>
      <p>artist</p>
    </div><!-- /.col-lg-3 -->
  </div><!-- /.row -->
</div>
