<div class="container marketing">
  <div class="row" ng-repeat="like in likes">
      <div plangular="{{ like.permalink_url }}">
        <div ng-if="player.currentTrack == track" class="player">
          <p>{{ track.title }}</p>
          <img ng-src="{{ track.artwork_url  }}" alt="{{ track.title }}" />
          <a ng-href="{{ track.permalink_url }}">View on SoundCloud</a>
          <button ng-click="previous()">Previous</button>
          <button ng-click="playPause()">Play</button>
          <button ng-click="next()">Next</button>
        </div>
      </div>
    </div>
  </div>
</div>
