<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>thvnderhvstle</title>
  <link rel="stylesheet" href="css/app.css"/>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/grayscale.css" rel="stylesheet">
  <link rel="stylesheet" href="css/player.css"/>
  <link rel="stylesheet" href="css/home.css"/>
  <link href="font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="//fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
  <!-- Navigation -->
  <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
          <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand page-scroll" href="#page-top">
          <i class="fa fa-play-circle"></i>  <span class="light">Thunder</span>Hustle</a>
      </div>
    </div> <!-- /.container -->
  </nav>

  <div ng-view></div>

<div class="cover-container">
      <div ng-repeat="like in likes">
        <div plangular="{{ like.permalink_url }}">
          <div ng-if="player.currentTrack == track" class="row vcenter">
            <div class="col-md-6 col-md-offset-3">
              <button class="btn-circle" ng-click="previous()">
                <span class="glyphicon glyphicon-step-backward"></span>
              </button>
              <button class="btn-circle" ng-click="playPause()">
                <span ng-if="player.playing != track" class="glyphicon glyphicon-play"></span>
                <span ng-if="player.playing == track" class="glyphicon glyphicon-pause"></span>
              </button>
              <button class="btn-circle" ng-click="next()">
                <span class="glyphicon glyphicon-step-forward"></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="js/jquery.easing.min.js"></script>
  <script src="js/grayscale.js"></script>
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular/angular-route.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
  <script src="//connect.soundcloud.com/sdk.js"></script>
  <script src="//d2v52k3cl9vedd.cloudfront.net/plangular/2.0-beta-1/ng-plangular.min.js"></script>
  <script>
    SC.initialize({
      client_id: "b59bea2de4680d01215792c1bc514bfa",
    });
  </script>
</body>
</html>
